NODE_ENV= "development"
port =2342

DB_URI ="mongodb://localhost:27017/smekfmwkf"

#*Cloudinary
CLOUDINARY_CLOUD_NAME="cece"
CLOUDINARY_API_KEY="39840214032854"
CLOUDINARY_API_SECRET='io3iedjendkjen'

#*JWt
JWT_SECRETE= "red3rfd3rf33es2332"
JWT_EXPIRES_In='7d'

#*email
SMTP_HOST="smtp.gmail.com"
SMTP_SERVICE='gmail'
SMPT_PORT=465
SMPT_USER="your gmail"
SMPT_PASS="your password"
SMPT_MAIL_FROM="<Nepali Store your gamail>"


